body{
    font-family:system-ui, Segoe UI, Roboto, Helvetica, Arial; 
    padding:20px; 
    background:#c0fae9;
}
header, .result-container{
    color: #48ffcb;
}
h1{
    margin:0 0 16px 0;
}
label{
    color: #fff;
}
